@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.l-center {
  max-width: 1200px;
  margin: 0 auto;
}

.main-catalog__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  flex-basis: 100%;
}

.about-us__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #000000;
}

.contacts__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }

.header {
  background-color: #f7e296;
  margin-top: 40px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__top-logo {
  position: absolute;
  top: -15px;
  left: 60px;
}

.logo--color-danger {
  color: #ffc600;
}

.logo:hover,
.user-links__item:hover,
.user-links__search:hover,
.main-nav__link:hover,
.catalog-list__item:hover,
.footer__item:hover {
  opacity: 0.6;
}

.logo:active,
.user-links__item:active,
.main-nav__link:active,
.catalog-list__item:active,
.footer__item:active {
  opacity: 0.3;
}

.search {
  padding-left: 40px;
  width: 500px;
  margin-right: 15px;
  position: relative;
}

.search__input {
  background-color: transparent;
  border: 0;
  opacity: 0.3;
}

.search__form::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
}

.search__input:hover {
  opacity: 0.6;
}

.search__input:active,
.search__input:focus {
  opacity: 1;
  outline: 0;
  border-bottom: 2px solid #000;
}

.user-links {
  padding-bottom: 40px;
}

.user-links__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.user-links__item {
  padding-right: 40px;
  padding-left: 25px;
}

.user-links__item:last-child {
  padding-right: 0;
}

.user-links__list--bottom {
  justify-content: flex-end;
}

.login {
  width: 260px;
}

.user-links__link {
  color: #000000;
}

.main-nav__list {
  padding: 0;
  margin: 0;  
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-nav__item {
  margin-right: 35px;
}

.main-nav__item:first-child {
  margin-right: 310px;
}

.main-nav__item:last-child {
  margin-right: 0;
  margin-left: 40px;
}

.main-nav__link {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-list {
  line-height: 30px;
  color: #464646;
  list-style: none;
  text-transform: none;
  display: none;
}

.catalog__link {
  color: #000000;
}

.main-index {
  display: flex;
  margin: 0 20px;
  justify-content: space-between;
}

.delivery__list {
  list-style: none;
}

.delivery__item {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.6px;
}

.delivery__link {
  color: #464646;
}

.map-modal {
  display: none;
}

.feedback-modal {
  display: none;
}

.btn {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-align: center;
  color: #000000;
  background-color: #f0c52e;
  text-transform: uppercase;
  border: 0;
}

.footer {
  background-color: #464646;
  color: #ffffff;
  padding-top: 60px;
}

.footer__column {
  display: flex;
  justify-content: space-between;
}

.footer .user-links__link {
  color: #ffffff;
}

.footer__list{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer__item {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer__link {
  color: #ffffff;
}

.footer .user-links__item,
.socials__item {
  opacity: 0.7;
}

.footer .user-links__item:hover,
.socials__item:hover {
  opacity: 1;
}

.footer .user-links__item:active,
.socials__item:active    {
  opacity: 0.3;
}

.socials__item:last-child {
  opacity: 1; 
}

.socials__item:last-child:hover {
  opacity: 0.6; 
}

.socials__item:last-child:active {
  opacity: 0.3; 
}

.socials__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

form label {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

form input {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #464646;
}

form textarea {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #464646;
}

.main-catalog {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  flex-basis: 100%;
}

.breadcrumbs__list {
  list-style: none;
  display: flex;
}

.breadcrumbs__item {
  font-size: 14px;
}

.breadcrumbs__item a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs__item a:hover {
  opacity: 0.6;
}

.breadcrumbs__item a:active {
  opacity: 0.1;
}

.breadcrumbs__item--active {
  opacity: 1;
}

.filters {
  flex-basis: 20%;
  background-color: #eeeeee;
}

.filter__item {
  display: flex;
  flex-direction: column;
}

.filter__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.filter__item label {
  font-size: 14px;
  color: #000000;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
}

.good-card {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.good__pic {
  flex-basis: 100%;
}

.good-card__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.good-card__price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}