@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.l-center {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }

.header {
  background-color: #f7e296;
  margin-top: 40px;
  padding-top: 40px;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__top-logo {
  position: absolute;
  top: -15px;
  left: 60px;
}

.logo--color-danger {
  color: #ffc600;
}

.logo:hover,
.user-links__item:hover,
.user-links__search:hover,
.main-nav__link:hover,
.catalog-list__item:hover,
.footer__item:hover {
  opacity: 0.6;
}

.logo:active,
.user-links__item:active,
.main-nav__link:active,
.catalog-list__item:active,
.footer__item:active {
  opacity: 0.3;
}

.search {
  padding-left: 40px;
  width: 500px;
  margin-right: 15px;
}

.search::before {
  content: ' ';
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
}

.search__input {
  background-color: transparent;
  border: 0;
  opacity: 0.3;
}

.search__input:hover {
  opacity: 0.6;
}

.search__input:active,
.search__input:focus {
  opacity: 1;
  outline: 0;
  border-bottom: 2px solid #000;
}

.search__submit {
  background-color: transparent;
  border: 2px solid #000000;
}

.login::before {
  content: ' ';
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 12px;
  background-image: url(../img/user.svg);
}

.compare::before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-image: url(../img/compare.svg);
}

.bracket::before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 12px;
  height: 12px;
  background-image: url(../img/cart.svg);
}

.user-links {
  padding-bottom: 40px;
}

.user-links__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.user-links__item {
  padding-right: 40px;
  padding-left: 25px;
  position: relative;
}

.user-links__item:last-child {
  padding-right: 0;
}

.user-links__list--bottom {
  justify-content: flex-end;
}

.login {
  width: 260px;
}

.user-links__link {
  color: #000000;
}

.main-nav__list {
  padding: 0;
  margin: 0;  
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-nav__item {
  margin-right: 35px;
}

.main-nav__item:first-child {
  margin-right: 320px;
}

.main-nav__item:nth-child(3) {
  margin-right: 100px;
  //margin-left: 50px;
}

.main-nav__item:last-child {
  margin-right: 0px;
}

.main-nav__link {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.main-nav__item:first-child {
  position: relative;
}

.main-nav__item:first-child::after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  position: absolute;
  top: 7px;
  left: 230px;
  opacity: 0.3;
}

.catalog-list {
  line-height: 30px;
  color: #464646;
  list-style: none;
  text-transform: none;
  display: flex;
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 600px;
  flex-grow: 1;
}

.catalog-list__item {
  margin-right: 60px;
}

.catalog-list__item:nth-child(4) {
  margin-right: 86px;
}

.catalog-list__item:last-child {
  flex-basis: 100%;
}

.catalog__link {
  color: #000000;
}

.main-index {
  //display: flex;
  margin: 0 0 90px;
  justify-content: space-between;
}

.slider{
  margin: 0 60px;
}

.slider__item {
  margin: 0;
  margin-left: 30px;
  margin-right: 20px;
  position: relative;
  margin-top: -110px;
  display: none; 
}

.slider__item--active {
  display: flex;
  justify-content: space-between;
}

.slider__control {
  position: absolute;
}

.promo-good__img {
  height: 486px;
}

.promo-good__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  color: #000000;
  margin: 82px 0 25px;
  position: relative;
}

.promo-good__title:before {
  content: ' ';
  width: 100px;
  height: 7px;
  position: absolute;
  background: #ffffff;
  top: -45px;
}

.promo-good__title:after {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 179px;
  content: '01';
  width: 100px;
  height: 7px;
  position: absolute;
  color: #ffffff;
  top: -95px;
  right: 55px;
}

.promo-good__desc {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  margin: 0 0 65px;
}

.promo-good__features {
  display: flex;
}

.promo-good__feature-item {
  margin-right: 75px;
}

.promo-good__feature-value {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
}

.promo-good__feature-property {
  margin: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
}

.about-us__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 60px 0;
}

.about-us__desc {
  margin-top: 0;
  margin-bottom: 80px;
}

.delivery__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 80px;
}

.delivery__item {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.6px;
  position: relative;
}

.delivery__item::before {
  content: ' ';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: -35px;
}

.delivery__link {
  color: #464646;
}

.contacts__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 60px 0;
}

.contacts__desc {
  margin-top: 0;
  margin-bottom: 40px;
}

.map {
  margin-bottom: 70px;
}

.map-modal {
  display: none;
}

.feedback-modal {
  display: none;
}

.btn {
  display: block;
  width: 220px;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: 0;
  position: relative;
}

.btn:before {
  content: ' ';
  width: 220px;
  height: 8px;
  position: absolute;
  background-color: #f0c52e;
  left: 0;
  top: 7px;
  z-index: -1;
}

.btn:hover:before {
  height: 40px;
  top: -10px;
}

.btn:active {
  color: rgba(0,0,0,0.3);
}

.promo-good__link {
  margin-bottom: 60px;
}

.footer {
  background-color: #464646;
  color: #ffffff;
  padding-top: 60px;
}

.footer__wrap {
  margin: 0 20px;
}

.footer__column {
  display: flex;
  justify-content: space-between;
}

.footer__column:first-child {
  margin-bottom: 40px;
}

.footer__column:last-child {
  margin-top: 60px;
  padding-bottom: 60px;
}

.footer__line {
  display: block;
  width: 80px;
  border-top: 8px solid #ffc600;  
}

.footer .user-links__link {
  color: #ffffff;
}

.footer__list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.footer__item {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-right: 30px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__address {
  margin: 0;
}

.footer__phone {
  margin: 0;
}

.footer__link {
  color: #ffffff;
}

.footer .user-links__item,
.socials__item {
  opacity: 0.7;
}

.footer .user-links__item:hover,
.socials__item:hover {
  opacity: 1;
}

.footer .user-links__item:active,
.socials__item:active    {
  opacity: 0.3;
}


.htmlacademylogo:hover {
  opacity: 0.6; 
}

.htmlacademylogo:active {
  opacity: 0.3; 
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 23px;
}

.socials__item:last-child {
  margin: 0;
}

form label {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

form input {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #464646;
}

form textarea {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #464646;
}

.main-catalog {
  
}

.main-catalog__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
  flex-basis: 100%;
  margin: 44px 60px 30px;
}

.breadcrumbs {
  margin-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs__list {
  list-style: none;
  display: flex;
}

.breadcrumbs__item {
  font-size: 14px;
  margin-right: 40px;
  position: relative;
}

.breadcrumbs__item::after {
  content: '';
  display: block;
  width: 4px;
  height: 7px;
  background-image: url(../img/nav-arrow.svg);
  position: absolute;
  top: 12px;
  left: 70px;
}

.breadscrumbs__item:nth-child(2)::after {
  left: 125px;
}

.breadcrumbs__item a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs__item a:hover {
  opacity: 0.6;
}

.breadcrumbs__item a:active {
  opacity: 0.1;
}

.breadcrumbs__item--active {
  opacity: 1;
}

.filters {
  background-color: #eeeeee;
  margin-left: 60px;
  width: 268px;
}

.filter__item {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  width: 268px;
}

.filter__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.filter__item label {
  font-size: 14px;
  color: #000000;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
}

.good-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 359px;
  margin: 0 20px 45px;
}

.good-card__pic {
  flex-basis: 100%;
}

.good-card__title {
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.good-card__price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.main-nav {
  padding-bottom: 165px;
}
